.bgeasteregg {
  right: 0;
  bottom: 0;
  color: #333;
  font-size: 10px;
  position: absolute;
}

.bgeasteregg:hover {
  color: #333;
}

.bgeasteregg-enabled {
  background-image: url('https://d13pix9kaak6wt.cloudfront.net/background/brunnogalvao_1314809671_66.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size:contain;
}
