* {
  text-shadow: 1px 1px 1px #333;
}

.site-wrapper {
  background-color: #368;
}

#my-photo {
  height: 15rem;
  width: 15rem;
  margin: 0 auto;
}

#my-photo .image-frame {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  border: 2px solid #39c;
}

#my-photo .image-frame img {
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}

@media (max-width: 992px) {
  .masthead { margin-bottom: 0; }
  .mastfoot .inner, .masthead .inner { padding: 1rem; }
  .inner.cover h1 {
    margin-top: 0.6rem;
    font-size: 1.3rem;
  }
  .lead { font-size: 0.8rem; }
}