
body {
    font-family: "Josefin Slab";
    font-weight: 600;
    font-size: 48px;
}

h1 { font-size: 80px; }
h2 { font-size: 72px; }
h3 { font-size: 64px; }
h4 { font-size: 56px; }
h5 { font-size: 48px; }

a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

img {
    max-width: 100%;
    max-height: 600px;
}

ul {
    padding: 0;
    display: inline-block;
    li {
        list-style: none;
    }
}

.section { text-align: center; }

h1, h2, h3 { font-weight: 700; margin-top: 0; }

pre {
    display: inline-block;
    text-align: left;
}

.fp-controlArrow.fp-prev { border-right-color: #333; }
.fp-controlArrow.fp-next { border-left-color: #333; }

@media (max-width: @screen-md-max) {
    body { font-size: 28px; }
    h1 { font-size: 52px; }
    h2 { font-size: 46px; }
    h3 { font-size: 40px; }
    h4 { font-size: 34px; }
    h5 { font-size: 28px; }
}

@media (max-width: @screen-sm-max) {
    body { font-size: 18px; }
    h1 { font-size: 42px; }
    h2 { font-size: 36px; }
    h3 { font-size: 30px; }
    h4 { font-size: 24px; }
    h5 { font-size: 18px; }
    .fp-slidesNav.bottom {
        margin-left: 0 !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center;
        width: 100% !important;
    }
    #fp-nav ul li, .fp-slidesNav ul li {
        width: 7px;
        height: 5px;
        margin: 3px;
    }
    img { max-height: 400px; }
}
