
body {
    font-family: "Josefin Slab";
    font-weight: 600;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

img {
    max-width: 100%;
    max-height: 600px;
}

ul {
    padding: 0;
    display: inline-block;
    li {
        list-style: none;
    }
}

.section { text-align: center; }

h1, h2, h3 { font-weight: 700; margin-top: 0; }

pre {
    display: inline-block;
    text-align: left;
}

.fp-controlArrow.fp-prev { border-right-color: #333; }
.fp-controlArrow.fp-next { border-left-color: #333; }

@media (max-width: @screen-sm-max) {
    .fp-slidesNav.bottom {
        margin-left: 0 !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center;
        width: 100% !important;
    }
    #fp-nav ul li, .fp-slidesNav ul li {
        width: 7px;
        height: 5px;
        margin: 3px;
    }
    img { max-height: 400px; }
}
