{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2 class="page-title">{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    - {{ post.pub_date|dateformat('full') }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}

{% macro render_blog_post_summary(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2 class="page-title">{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    - {{ post.pub_date|dateformat('full') }}
  </p>
  {{ post.summary }}
  </div>
  <a class="post-button" href="{{ post|url }}">Read more</a>
{% endmacro %}
