<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="http://lucianoratamero.github.io/img/favicon.png" />

  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/main.min.css">

  <title>{% block title %}{% endblock %} — luciano@ratamero.com</title>
  <meta name="keywords" content="{% block tags %}Luciano Ratamero, lucianoratamero, blog, tecnologia, programação, javascript, python{% endblock tags %}">
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <div id="loading" style="display: none;">
    <div class="section">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
  <div id="blog" style="opacity: 0;">
    <div class="max-width-4 mx-auto">
      <div class="sm-col-12 md-col-8 px2 mx-auto">
        <div id="main-content">
          <h1 id="title" class="center mb0"><a href="/">luciano@ratamero.com</a></h1>
          <ul class="list-reset center mt0">
            <li class="inline-block">
              <a href="/about">about</a>
            </li>
            <li class="inline-block">
              <a href="/blog">blog</a>
            </li>
            <li class="inline-block">
              <a href="/social">social</a>
            </li>
            <li class="inline-block">
              <a href="/talks">talks</a>
            </li>
          </ul>
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/highlight/highlight.pack.js"></script>
  <script type="text/javascript" src="/static/js/app.min.js"></script>
</body>
</html>
