


@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../fonts/anonymous_pro_b-webfont.eot');
    src: url('../../fonts/anonymous_pro_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/anonymous_pro_b-webfont.woff2') format('woff2'),
         url('../../fonts/anonymous_pro_b-webfont.woff') format('woff'),
         url('../../fonts/anonymous_pro_b-webfont.ttf') format('truetype'),
         url('../../fonts/anonymous_pro_b-webfont.svg#anonymous_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../fonts/anonymous_pro_bi-webfont.eot');
    src: url('../../fonts/anonymous_pro_bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/anonymous_pro_bi-webfont.woff2') format('woff2'),
         url('../../fonts/anonymous_pro_bi-webfont.woff') format('woff'),
         url('../../fonts/anonymous_pro_bi-webfont.ttf') format('truetype'),
         url('../../fonts/anonymous_pro_bi-webfont.svg#anonymous_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../fonts/anonymous_pro_i-webfont.eot');
    src: url('../../fonts/anonymous_pro_i-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/anonymous_pro_i-webfont.woff2') format('woff2'),
         url('../../fonts/anonymous_pro_i-webfont.woff') format('woff'),
         url('../../fonts/anonymous_pro_i-webfont.ttf') format('truetype'),
         url('../../fonts/anonymous_pro_i-webfont.svg#anonymous_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../fonts/anonymous_pro-webfont.eot');
    src: url('../../fonts/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/anonymous_pro-webfont.woff2') format('woff2'),
         url('../../fonts/anonymous_pro-webfont.woff') format('woff'),
         url('../../fonts/anonymous_pro-webfont.ttf') format('truetype'),
         url('../../fonts/anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
