<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="http://lucianoratamero.github.io/img/favicon.png" />

  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/main.min.css">

  <title>Lektor parte 2: deploy, macros, admin e plugins — luciano@ratamero.com</title>
  <meta name="keywords" content="lektor, python, site estático, deploy, macros, admin, plugins">
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <div id="loading" style="display: none;">
    <div class="section">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
  <div id="blog" style="opacity: 0;">
    <div class="max-width-4 mx-auto">
      <div class="sm-col-12 md-col-8 px2 mx-auto">
        <div id="main-content">
          <h1 id="title" class="center mb0"><a href="/">luciano@ratamero.com</a></h1>
          <ul class="list-reset center mt0">
            <li class="inline-block">
              <a href="/about">about</a>
            </li>
            <li class="inline-block">
              <a href="/blog">blog</a>
            </li>
            <li class="inline-block">
              <a href="/social">social</a>
            </li>
            <li class="inline-block">
              <a href="/talks">talks</a>
            </li>
          </ul>
          
  
  <div class="blog-post">
    <div class="blog-post-title">
      
        <h2>Lektor parte 2: deploy, macros, admin e plugins</h2>
      
      
        <p>03/02/2016, 13h31</p>
      
    </div>
  <div class="image-wrapper">
    <a target="_blank" href="https://getlektor.com/"><img src="cover.png"></a>
</div><p>agora que já expliquei o básico de como utilizar o Lektor pra desenvolver seu site estático, vou começar a explicar alguns aspectos mais avançados. não pretendo ser muito detalhista, mas fiquem a vontade para pedir mais informações nos comentários. aí vai!</p>
<hr>

<h3>deploy</h3>
<p>sim, o Lektor vem pronto para uma série de opções para deploy facilitado: <a href="https://www.getlektor.com/docs/deployment/rsync/">rsync</a>, <a href="https://www.getlektor.com/docs/deployment/ftp/">ftp</a>, <a href="https://www.getlektor.com/docs/deployment/ghpages/">github pages</a> e, via plugin, <a href="https://github.com/spenczar/lektor-s3">s3</a>. isso significa que basta ter um local remoto para manter seus arquivos estáticos que você tem um site pronto, com deploy e tudo.</p>
<p>o deploy dele é facilmente configurado e bem inteligente, já que ele verifica somente os arquivos que precisam ser alterados e os sobrescreve. para configurar, basta seguir <a href="https://www.getlektor.com/docs/deployment/#lektor-assisted-deployments">a documentação</a> do método escolhido e rodar <code>lektor build  lektor deploy</code>. esse processo garante que o Lektor pegará a versão mais nova antes de sincronizar com o servidor.</p>
<p>no meu caso, foi só (juro que foi só isso) colocar o seguinte no meu arquivo de projeto, o <code>blog.lektorproject</code>:</p>
<pre><code>[servers.ghpages]
target = ghpages+https://lucianoratamero/blog</code></pre><p>não cheguei a ver os outros, mas <strong>duvido</strong> que sejam muito mais complicados que isso.</p>
<h3>macros</h3>
<p>quando você tiver brincado o suficiente com os modelos do Lektor, você vai sentir falta de iteradores de template. um exemplo clássico é uma página de resumo dos posts de um blog, como a que eu tenho na home desse aqui.</p>
<p>pra isso, existem as macros. elas são templates com lógicas embutidas. mais fácil de explicar mostrando um exemplo.</p>
<pre><code class="django">{% macro render_blog_post(post, from_index=false) %}
  &lt;div class="blog-post"&gt;
  {% if from_index %}
    &lt;h2&gt;&lt;a href="{{ post|url }}"&gt;{{ post.title }}&lt;/a&gt;&lt;/h2&gt;
  {% else %}
    &lt;h2&gt;{{ post.title }}&lt;/h2&gt;
  {% endif %}
  &lt;p class="meta"&gt;
    {{ post.pub_date }}
  &lt;/p&gt;
  {{ post.body }}
  &lt;/div&gt;
{% endmacro %}</code></pre><p>o papel dessa macro é receber um objeto <code>post</code> e formatá-lo de acordo com o template. ele é usado pelo template de blog da seguinte forma:</p>
<pre><code class="django">{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}
  {% if this.title %}{{ this.title }}{% else %}olar{% endif %}
{% endblock %}

{% block body %}
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %} </code></pre><p>vemos assim que só é necessário importar a macro criada e passar os objetos corretos. pra saber quais objetos e como usá-los, é só dar uma olhada na documentação da <a href="https://www.getlektor.com/docs/api/db/">API de tratamento de dados</a> do Lektor.</p>
<h3>admin</h3>
<p>ah, sim, o Lektor, quando usado localmente, oferece uma interface administrativa pra edição e criação de conteúdo. pra usá-la, basta rodar o servidor com <code>lektor server</code>, acessar a página <code>localhost:5000</code> e clicar no ícone do lápis do canto da tela.</p>
<div class="image-wrapper">
    <img src="acessando-o-admin.jpg">
</div><p>isso te levará pra uma página do admin similar à essa:</p>
<div class="image-wrapper">
    <img src="admin.jpg">
</div><p>todas as alterações feitas nela refletirão nos seus arquivos do projeto e vice-versa. fica na sua preferência utilizar a interface administrativa ou editar os arquivos <code>content.lr</code> diretamente. :) mais um pouco e já poderemos colocar isso na mão dos próprios clientes!</p>
<h3>plugins</h3>
<p>como o Lektor é bem documentado e extensível, ficou fácil pra (pequena) comunidade criar plugins que adicionam novos comportamentos. vocês devem ter notado que uso o disqus como plataforma de comentários, e não tive trabalho quase nenhum pra colocá-lo no blog, quase nenhum <strong>mesmo</strong>.</p>
<p>pra usar um plugin, é só procurar na <a href="https://www.getlektor.com/docs/plugins/">página de plugins do Lektor</a> o plugin que quer usar e seguir a própria documentação. vou demonstrar pra vocês como foi fácil colocar o <a href="https://github.com/lektor/lektor-disqus-comments">plugin de comentários do disqus</a>.</p>
<p>o que eu fiz foi abrir o aquivo <code>blog.lektorproject</code> na raiz do meu projeto (o nome do arquivo varia com o nome do projeto) e colocar as seguintes linhas:</p>
<pre><code>[packages]
lektor-disqus-comments = 0.1</code></pre><p>isso fez com que, quando eu rodasse <code>lektor server</code> ou <code>lektor build</code>, ele detectasse minha intenção, instalasse as dependências e ficasse pronto pra usar o plugin.</p>
<p>depois disso, fui no <a href="https://publishers.disqus.com/engage?utm_source=Home-Nav">disqus</a> e criei uma comunidade pro blog (é bem autoexplicativo o processo, não me demorou dois minutos).</p>
<p>com o nome da comunidade em mãos, criei uma pasta <code>configs/</code> na raiz do projeto com um arquivo <code>disqus-comments.ini</code> dentro. nesse arquivo, só precisei declarar o shortname da comunidade.</p>
<pre><code>shortname = lucianoratamerosblog</code></pre><p>com o disqus configurado, escolhi o template de blog-post pra habilitar os comentários e os coloquei assim:</p>
<pre><code class="django">{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block tags %}{{ this.tags }}{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
  <div class="comments">{{ render_disqus_comments() }}</div>
{% endblock %} </code></pre><p>só precisei botar mesmo a div de comentários. daí foi recarregar a página e voilá, tudo funcionando <strong>lindamente</strong>.</p>
<hr>

<p>enfim, espero ter abordado um pouco melhor alguns detalhes e features interessantes do Lektor. caso tenham alguma pergunta ou dúvida, só mandarem ver nos comentários. é isso por enquanto, minha gente, vejo vocês na próxima! o/</p>

  </div>

  <div class="comments">
<div id="disqus_thread"></div>
<script>
  var disqus_config = function() { this.page.identifier = "/lektor-parte-2-deploy-macros-admin-e-plugins"; this.page.url = "https://lucianoratamero.github.io/blog/lektor-parte-2-deploy-macros-admin-e-plugins/"; };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//lucianoratamerosblog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
    rel="nofollow">comments powered by Disqus.</a>
</noscript>
</div>

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/highlight/highlight.pack.js"></script>
  <script type="text/javascript" src="/static/js/app.min.js"></script>
</body>
</html>
