
.blog-post {
  img {
    display: block;
    margin: 0 auto;
    max-width: 70%;

    & + em {
      text-align: center;
      display: block;
      font-size: 0.8em;
    }
  }
  p {
    line-height: 1.8;
  }
}

.post-button {
  display: block;
  border: 1px solid $main_blue;
  background: lighten($secondary_light, 10);
  text-align: center;
  padding: 0.6em;
  border-radius: 4px;
  margin-bottom: 2em;
}

blockquote {
  margin: 0;
  padding: 0.6em 0.6em 0.6em 2em;
  border-left: 0.4em solid $secondary_blue;
  background-color: #f9f9f9;
}
