
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#layout {

  #content { width: 100%; }
  #header { margin-top: 1em; }

  #logo {
    margin-top: 1em;
    text-decoration: none !important;
    h1 {
      text-align: center;
      font-size: 2.2em;
      font-weight: bold;
      letter-spacing: 2px;
      color: $body-font-color;

      @include breakpoint(small only) {
        font-size: 1.4em;
      }
    }
  }

  .image-wrapper {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
    width: 70%;
    @include breakpoint(small only) {
        width: 100%;
    }

    .image-caption {
        margin: 0;
        font-weight: 600;
        text-align: center;
    }
  }

}
