
// variables
$carbon: #333;
$fa-font-path: "/static/scss/font-awesome/fonts";

// dependencies
@import "basscss.min.scss";
@import "basscss-addons/btn/index.scss";
@import "basscss-addons/btn-outline/index.scss";
@import "basscss-addons/btn-sizes/index.scss";
@import "basscss-addons/responsive-typography/css/responsive-typography.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "../../node_modules/colors.css/src/_variables.css";
@import "../../node_modules/colors.css/src/_skins.css";
@import "../js/highlight/styles/zenburn.css";
@import "../../node_modules/fullpage.js/jquery.fullPage.css";
@import "../../node_modules/sass-css3-mixins/css3-mixins.scss";
@import "loading.scss";

// fonts
@import "fonts.scss";

// custom

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 110%;
  color: $carbon;
  overflow-y: scroll;
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/wgALCAC/AL4BAREA/8QAGQABAQEBAQEAAAAAAAAAAAAAAQACAwQJ/9oACAEBAAAAAPqQuWqqs8++aaNFBomTOc9TU5mEpDUmcuxnJbIjWLoZUsuqcyKG80aoN89S2bObbrAtmt+fq2uTbMtrI6EEZENWatYnRVGopm5smjOtAWeiEiuXBt5O2GotYZiM9DOdbicojTi0aySkyBpzWubq1gNMI2TWs0gXXJm3YVctONNhz0orWJNhGqrMbzSlFvGa6ExVFasaItBvFuyxrLnTmXE5uuB1jUOdSRawoai3ztELIGw0STcjoi4x2Bzqh5O2ybnMSgsDlNZt1ZHRDrGgz0jWLVneRt5Fyw0P/8QAJRABAQACAgICAgMAAwAAAAAAAQIAEQMSITEiMhNBBDNCECM0/9oACAEBAAEFACTDQaHKDrUzg/EDGTswYBs8ZH1dLy/1/wAjZwUTuZ0gdg81rT5xk3+MTpJ/x2dm15O3V76zVOArXgfGdTJ+M2135Jqp5eJri1eQLhG8ZB1hToXCnsq4lGBRg1LT8fRQ521UUN2fHyhQ5L2LKbvvqi6kexx76+RXx2NzKAU5upre8bldlFeK7GU/FrT6vj/sUA5JMnfWPpvVctAflkwv48fJLDZvuGNAeXJTrVHfJ+sfT919b+j9vdHhr1yHwN6MTTl/TJ32D5Xi+E8yeL837JDrMHaePVsmkCX2SNAfkuJX8HE5D8Ovzifm/bQvBwn4uKCePqLUgSbqZ/6ziEjikekmG9TxrkwlVNSAuTVMhSxFF0byquZJJOnkOl2vWq5Os8ZxyCT52tObZyZCZjxpld6mlnjreVyM12eRaAgtiW5Yt7O3GLZK7Hd37qnZW2F0o58lWjGtg+JrR27Uy5x1qOPyCltEvLUnHKfj3qm5nkOWCp5IKjfXe6qgWzVcsktbR+PaR5KlnD67yUK3rP2nyDZy/Xn/AKZ+nsv/ANFHzXw+zel8n2rAU159V/qfFT69j9vKo4A5qd1E3L/G4UPBrxXBx8lP8fik5P66mRJDLBoPkHZNgm0NNG5fX+Q3kzO2Qw7ahrW6p8mDXaWkGtzVd3bKdgbcGtaWidP7PAR2TccnleosrU7XCnsNbmrZjeB8kckSpmuvWsKqbaQ04S6HTvbvVTsSXRVGbquT5FDpkomTVG+2lZo0XO3m4+Oj+RxXQaowc/ITy3yy5SB+nkkubmqpMOWJw8ZNjRUi1LnecEM3updu8drP28OP3/XrPWe19V9X7Hv/AHrZybJp3W91R8n1X1fZ9X3n7OGKHh49fi45T3J8ScJV0Z1M6+SQypndSE0vV2Plskrk/kBMcmziTSGRvt6x4wqNjtVUzesI0TG80zSo1mkztXY7br54x3JbZiWsmetcslcfIb40+Uqsr+QPFXtHde8oQXYiO+uLtSnK3rw4TS6rYIm98fjjlYO/nktov8jL5wl7G45O7nbDknc0NKk0/F5J3+QpHb2DO5qUZnxLyRCcvG4M9o307G9+a8U8sgWIO1dO8fc+KHXLWulfWPXArFPz35z0z6rfd+/7PBH1r2+GzUT9Z+r7PGfs4OKk4Y4ubr2vpOEGoOvHU5yh15uOTidb0InzTOQ+HScAHRug1vJ/jcfSOMkJCtbOyyzyDM026wFwPB2l3QWVa8PfJqqmfM0fN+34u2TVVIrlNGapylmJ4kyITESpLcnk3E02zuWqFq+obMltrtTVbE5euEsyUzLXa6EuaCuOtwKiUtVU5yfkeMVNIu+21zid8XF6Z1imcidd5HpNc9OivjNO6dCPy18vecZuOPzOs5POJuY8yu2j5eM//8QAMxAAAQMCBAMFCAIDAQAAAAAAAQACESExQVFhcRIi0TKBkbHBAxBCcqHh8PFSkhNigjP/2gAIAQEABj8AAqO8rsiTpdHlae4KjQNgBijIXaP9ijNZVhbFdnUKpUyfFXNCbnVNpJr6KhIJIqDGIXtCHvBDSZ4zkuyD3J0SK91gjtmhqp9xvO6Micpquy3w92Eagp1qRbvVKGRhqu0PBXFFel6o8RoItTNY4XRqok+IWkymtBEQbjZAcQAJBoKp443CWkTRdoXmyJLiSThCnidhaOimXfToqk1QJgHKETRUyyWAOyrw/wBj0R7P9j0RBaKgEQfzNY3F90THgsERDqHCN808QRRpqBW+qpoogd6kB0nbqidU0gAiCKmMtE2jb/y+yIhtRTmPRUmuCJEQSb7qCL5HL9oUNIVjIQBimqkNbE5nogCBzAxwmbfta5FSHtINRzBSHB1aEWTb1GA2VjdHZGQfAp9HXHwnIJ9CKNuIzUkx3qrmwNQmjhdYYLKpvughJpIUk2Q5X2HwHohXhMmQaEVOaABkwbKvkrQrHwWNzhqmETEOw2UVA2TdkNz5lZ0R3CM5I7p3d5BHYLK3mnTWQreKvCHehVO2Vd17QVv6BHZDcFFFCaftN2PorTum8tYyT4c4VsHEC2SfVxoO04nNTEI0nuRig1TzetyNE6nwj1TQ5oInEKD7JhBwLQhsnmXCogBxGATrmguSc0211Ba0g3pdez5vaHlBr7Rx9VABuTJMm6NKgCFIEGRZCyaeN5oPjPVVLyZPxnPdOu4iO0SYvmqsHeArhE8bhJsIgfkJx43GgvGui7WIw1WIQPLJ0PVE8QFbAIuLpJAApugZqDjZF3JIGLT1QHE6BqOiJ43QcBHRdoukV4ow2jNCIBBGCJ5KW5T1QaC4hoiadFFxXdUjWRdRIpW33VIlAS6I06K50tmrzOYy/asPBAxANUaEV0zRAY4yBaOqA/xuGMmKY5qawNE2jbfy+yPLOxTmlvDQZaqBBJxKI5ZIi56KeE12RHA6mUZKrTjeFQE2id0YFYRCGRVIpjP2UwCNCqiVaVXilY0rVX+qbyuBgULSiYIriFQGIvCrQaiE48TQIzGSbsE6A7cNJwChzgwkSA4xO093igP8jMfiGRU8baH+QQ2xTqG+RiyAgjSCqyNmlHlf/Q9EYDo+UoA63vdEEgUFCYQAIJkUBmaqxPcUL6QFCOFr0Vx4rRHOnkihuL7p/wAp8kLWQ/MV7P5HebUzf0KPuJvVAzN0J18kcKLNfmSyQuP0qoY+4KiuRuUDEzmJVh3BQ4Ag1gqD7NpBoZEoYI1J0lFz2N9o5oABcJgG/kPBcTfZMa5pEENAIrF041FDFUYaL5KAAIKZ3+iF8cdCgMLQoBcBuiJdT/Y5JxNYi9c1lBwpijzO/sVE1spialHlGVl2G94U8VdkRQwcijUWsAhX6ICnh903sTGR6o9iPlPVOHLhWDrqjMRTPNFpmDS6mW/1PVV4STp90KjuQwnogoUl7gTlHRQDMiTxaftBsgAnDZRJrqOiabKkDCoRnhiJseqs3unqgeCKZoyADNkY0QsgZETmh2DTM9ETyf2I9E4HhMgGhOuiEgVMXVY8V8PieiIIJIOCiN5KFJ/SJgbShVs7lEcMxiDRAhsQMT+ZIExwzgdEDWBggDwzGB+yIIrKccIFPFYIAmJGSPML1qiS9rZtzJrR7RhcbAOFUK/VDoqfVGsctEIIniBRkqYPgnitCPhOQThjShEZppJxr4KeMDOqt9EZ/KIyQDnMIczfFVe0DVwREjxToDiJFQCRZOkEWuCM1b6KyfBx9AprsvZ5cR8j77LuQRrginjX0CGcIYp2UI0jdOwt5BDY+iONUdkUKz+/dYFbKT7NhcSSTwibocjB/wAhA8DQRUEASEBMgoHiNsyjzO8SjeIFyhNskRH0VS7xKoB1TaC0KRQ+BTuY2OJRq7xKdzOuPiOQTp5iAO1WL5/lFLQGuDm1FD2gnwTMHFfZRJGgKdUmgud1H2RHE76dE5sgxi4Vz9VWAAFmppTRRLvp0U8Tvp0VyZvxRh+02uPuFST3J4lpAOI0QJg933UTE5DvR5nVEYdEHEiSMvuiS4hxJo2IpT0TjxF0gdqNdNURJAltR8wT+Z1jiOiNTN06tjknCaQMN1l3I0P0T6RUX2R6rC6cYRFJCIg0OEQgA0iJ7SbARgYKamU4jhgmkmNMlThjc9EOzGh02QBH1TaCwUFpuTI3XYd3R1XC1h4iRcgDP0R5W1H8vst060EzU6IS0kEQOEzbfdUa7cx1UynVEg+iImohGwt5hGuCJD2kHVEtl4zAJFtEbjQghCSBmo4h4hCoGipFz5oBz2tJqASBKAD2ScOIIczb5hDYKxOwVj4JhOfoUSXUVxEIm6bQ2NhsqA+BTvNOpSU75R6onbzCOyGy/wCneZTBofRBFXWd/NMrgcNk3f0KEoahHOSPqm9/ohOvkjshsEdyh3+itIy9xcfZtLiTUhNLG8PE0zwGJqImNz9UJJcMiZQlo2gKwyQAMCTY6oEiuE1UxFRbdPiZDTYmio1vgEYA2ATQMneiE/lETpmqMaB8oRAEDIURJAO9UCAAZFQIIqu0fFCAbfyK4eYVtxFEybYmV6oWkhO4XsDci0m43UvcDAgcIi988kCC6ddkKlCpOKIBBAzFUOye49UxpcBJrArQT6ItPtHgERh0QJ4ajI9UCbybUF0y9j6JoBNSa9xUF7gDTDoppJGSmncgQQBWZCgkRoITiBUBf+rjuB0TgXEwak+KEHDJRxAdybyPAIpMdU4hvCCYhxrSnojxC8WOX7QgONckSQ6gnDr7nENF/wCX2XCWgGCe1qNE1xAoahpqaR6qeB5Arh1QaYpSi4eEmJq2IrXPVUBAAPa1jLZMNKGaGtihQ+A6pvKbXopIQiDGv5khRpJMAcScAxpMGOb7IEA96db8AQxMGyqJTflCMfyPmh3rROjI+SvKMZlAf6n0UbeaIwhOlGUTGCHubsEIzPn7m/N7hcoxohTA+iqJX//Z');
}

h1 a { text-decoration: none; }
img { max-width: 100%; }
pre, code { font-family: 'Inconsolata', monospace; }
.btn-block { display: block; text-align: center; }
.btn-group { text-align: center; }

a {
  color: $carbon;
  font-weight: 400;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  a { font-weight: 600; }
}

@media (max-width: 52em) {
  h1 { font-size: 1.6rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.4rem; }
}

code {
  padding: 4px;
  line-height: 1.6em;
  background-color: #f0f0f0;
}

#main-content { padding: 0 0 1em; }

#about {
  padding-top: 2em;
  .photo-section {
    img {
      max-width: 60%;
      display: block;
      margin: 0.5em auto;
      @include border-radius;
    }
  }
}

#social a { text-decoration: none; }

.blog-post {
  margin-bottom: 2em;
  padding-bottom: 2em;
  line-height: 1.6em;
  border-bottom: 1px dashed $carbon;

  .blog-post-title {
    h2 { margin-bottom: 0; }
    p { margin: 0; }
  }
}

.custom-pagination {
  margin: 2em 0;
  .btn {
    &:hover { background-color: var(--silver); }
    &.disabled {
      color: var(--silver);
      &:hover { background-color: white; }
    }
  }
}

.image-wrapper {
  padding: 1em;
  margin: 1em auto;
  border: 1px solid var(--silver);
  text-align: center;

  img { max-width: 70%; }
  .image-caption { margin: 1em 0 0; font-style: italic; }
}
